{% load static %}
<div class="discussions__list">
    {% for comment in comments %}
    <div class="comment-widget discussion_replies_shown comment-widget_state_pinned ember-view discussions__comment-widget">
        <div class="comment-widget-avatar ember-view">
            <div class="comment-widget-avatar__avatar-block">
                            <span class="user-avatar ember-view comment-widget-avatar__avatar">
                                <a href="/users/345061624" class="ember-view user-avatar__link">
                                    <img src="https://cdn.stepik.net/media/users/345061624/avatar.png" alt="User avatar"
                                         class="user-avatar__img user-avatar__img_shape_square"
                                         style="width: 35px; height: 35px;">
                                </a>
                            </span>
            </div>
            <div class="comment-widget-avatar__main">
                <div class="comment-widget__body">
                    <div class="comment-widget__header">
                        <div class="comment-widget__header-content">
                            <div class="comment-widget__titles">
                                <div class="comments-user-badge ember-view comment-widget__user">
                                    <a href="/users/345061624"
                                       class="ember-view comments-user-badge__name">
                                        {{comment.user.username}}
                                        <div hidden="" class="comments-user-badge__tooltip"></div>
                                    </a>
                                </div>
                                <time title="{{comment.created_at}}" class="comment-widget__date">
                                    {{comment.created_at}}
                                </time>
                            </div>
                        </div>
                    </div>
                    <div class="comment-widget__content">
                        <div class="show-more" style="--max-height: 480;">
                            <div class="show-more__content">
                                <div class="html-content rich-text-viewer ember-view comment-widget__comment">
                                    <span>{{comment.text}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-widget__footer">
                    <div class="ui-vote comment-widget__votes">
                        <button class="st-button_style_none ui-like ui-vote__like" type="button"
                                onclick="handleVote({{ comment.id }}, 'like')">
                                        <span class="svg-icon thumbs-up_icon ember-view ui-like__icon">
                                            <img src="{% static 'img/icons/thumbs-up.svg' %}"
                                                 style="margin-bottom: 10px" alt="Like">
                                        </span>
                            <span id="like-count-{{ comment.id }}" class="ui-like__count">{{ comment.likes }}</span>
                        </button>
                        <button class="st-button_style_none ui-like ui-vote__like" type="button"
                                onclick="handleVote({{ comment.id }}, 'dislike')">
                                            <span class="svg-icon thumbs-up_icon ember-view ui-like__icon">
                                                <img src="{% static 'img/icons/thumb-down.svg' %}"
                                                     style="margin-bottom: 5px" alt="Dislike">
                                            </span>
                            <span id="dislike-count-{{ comment.id }}"
                                  class="ui-like__count">{{ comment.dislikes }}</span>
                        </button>
                    </div>
                    <!--RESPONSE BUTTON-->
                    <button class="comment-widget__reply comment-widget__footer-button btn-link link_no-static-line"
                            title="Response for this comment" type="button"
                            onclick="toggleComment(this)">
                        Response
                    </button>
                    <div class="comment-widget__content" style="display: none;">
                        <form action="{% url 'notebook:comment_step' comment.step.note.slug comment.step.order %}"
                              method="POST">
                            {%csrf_token%}
                            <div class="comment-input ember-view">
                                <div class="comment-input__bait" role="button" data-ember-action="">
                                    <input type="hidden" name="parent" value="{{comment.id}}">
                                    {{ comment_form.text }}
                                    <input class="lesson__next-btn button has-icon" type="submit"
                                           value="Send">
                                </div>
                            </div>
                        </form>
                    </div>

                    {%if comment.replies%}
                    <button class="comment-widget__show-replies comment-widget__footer-button btn-link link_no-static-line"
                            title="open / hide response to comments" type="button"
                            onclick="toggleReplies(this)">
                        Look at {{comment.replies.all|length}} response
                    </button>
                    {%endif%}
                    <span class="comment-menu ember-view comment-widget__menu">
                                    <div class="drop-down drop-down-menu ember-view">
                                        <div class="drop-down__toggler drop-down-toggler drop-down-toggler--auto-toggle ember-view">
                                            <button class="st-button_style_none comment-menu__menu-toggler"
                                                    type="button">
                                            </button>
                                        </div>
                                    </div>
                                </span>
                </div>
                <div class="comment-replies" style="display: none;">
                    {%for reply in comment.replies.all%}
                    <div class="comment-widget__replies">
                        <div class="comment-widget discussion_replies_hidden ember-view discussions__comment-widget">
                            <div class="comment-widget-avatar ember-view">
                                <div class="comment-widget-avatar__avatar-block">
                                                <span class="user-avatar ember-view comment-widget-avatar__avatar">
                                                    <a href="/users/345061624" class="ember-view user-avatar__link">
                                                        <img src="https://cdn.stepik.net/media/users/345061624/avatar.png"
                                                             alt="User avatar"
                                                             class="user-avatar__img user-avatar__img_shape_square"
                                                             style="width: 35px; height: 35px;">
                                                    </a>
                                                </span>
                                </div>
                                <div class="comment-widget-avatar__main">
                                    <div class="comment-widget__body">
                                        <div class="comment-widget__header">
                                            <div class="comment-widget__header-content">

                                                <div class="comment-widget__titles">
                                                    <div class="comments-user-badge ember-view comment-widget__user">
                                                        <a href="/users/345061624"
                                                           class="ember-view comments-user-badge__name">
                                                            {{reply.user.username}}
                                                            <div hidden=""
                                                                 class="comments-user-badge__tooltip"></div>
                                                        </a>
                                                    </div>

                                                    <time title="{{reply.created_at}}"
                                                          class="comment-widget__date">
                                                        {{reply.created_at}}
                                                    </time>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-widget__content">
                                            <div class="show-more" style="--max-height: 480;">
                                                <div class="show-more__content">
                                                    <div class="html-content rich-text-viewer ember-view comment-widget__comment">
                                                        <span>{{reply.text}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-widget__footer">
                                        <div class="ui-vote comment-widget__votes">
                                            <button class="st-button_style_none ui-like ui-vote__like"
                                                    type="button"
                                                    onclick="handleVote({{ reply.id }}, 'like')">
                                        <span class="svg-icon thumbs-up_icon ember-view ui-like__icon">
                                            <img src="{% static 'img/icons/thumbs-up.svg' %}"
                                                 style="margin-bottom: 10px" alt="Like">
                                        </span>
                                                <span id="like-count-{{ reply.id }}" class="ui-like__count">{{ reply.likes }}</span>
                                            </button>
                                            <button class="st-button_style_none ui-like ui-vote__like"
                                                    type="button"
                                                    onclick="handleVote({{ reply.id }}, 'dislike')">
                                            <span class="svg-icon thumbs-up_icon ember-view ui-like__icon">
                                                <img src="{% static 'img/icons/thumb-down.svg' %}"
                                                     style="margin-bottom: 5px" alt="Dislike">
                                            </span>
                                                <span id="dislike-count-{{ reply.id }}"
                                                      class="ui-like__count">{{ reply.dislikes }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

    </div>
    {%endfor%}
    <button class="discussions__load-btn small white expand" type="button"
            data-ember-action="" data-ember-action-3398="3398">Показать обсуждения
    </button>
</div>