<nav class="marco-layout__nav course__course-nav-container" data-marco-sticky-nav-content="" aria-labelledby="course-nav-menu-label">
    <div class="nav-menu course-nav ember-view course__course-nav">
        <img class="course-nav__cover" src="{{notebook.image.url}}" alt="Course cover" height="56" width="56">
        <h1 class="course-nav__title">{{notebook.name}}</h1>
        <div class="course-join-button ember-view course-nav__course-join">
            <button class="button" title="Continue reading from the last step" type="button" data-ember-action="">
                Продолжить
            </button>
        </div>
        <ul class="nav-menu__menu menu course-nav__main-menu" data-level="1">
            <li class="menu-item nav-menu__menu-item_collapse-icon" data-item="info">
                <a href=""  data-active="">
                    <span>Description</span>
                </a>
            </li>
            <li class="menu-item nav-menu__menu-item_collapse-icon" data-item="syllabus">
                <a href="{{notebook.get_absolute_url_public}}" aria-disabled="false">
                    <span>Content</span>
                </a>
            </li>
            <li class="menu-item nav-menu__menu-item_collapse-icon" data-item="comments">
                <a href="/course/58852/comments" aria-disabled="false">
                    <span>Comments</span>
                </a>
            </li>
            <li class="menu-item nav-menu__menu-item_collapse-icon" data-item="reviews">
                <a href="/course/58852/reviews" aria-disabled="false">
                    <span>Reviews</span>
                </a>
            </li>
            <li class="menu-item-divider " data-media-query="not-mobile"></li>
            <li class="menu-item " data-media-query="not-mobile" data-item="search">
                <a href="/course/58852/search" aria-disabled="false">
                    <span  class="svg-icon search_icon ember-view">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/static/frontend-build/icons.svg?1720098406#search"></use>
                        </svg>
                    </span>
                    <span>Search in notebook</span>
                </a>
            </li>
        </ul>
    </div>
  </nav>