{% extends 'base.html' %}

{% block content %}
<main class="main-content">

    <div class="marco-layout teachlearn teach">
        {% include 'notebooks/includes/navbar.html' %}


        <header class="marco-layout__header" data-marco-full-height-sidebar="">
            <h1>Notebooks</h1>
        </header>

        <article class="marco-layout__content">
            <!---->

            <header class="teachlearn__content-header">
                <div class="teachlearn__content-header-toolbar">
                    <div data-value="" class="select-box ember-view teachlearn__filter">
          <span id="ember1215" class="search-form ember-view teachlearn__search-form"><div class="search-form__form">
  <div class="search-form__input-wrapper">

        <input class="search-form__input " placeholder="Notebooks name " autocomplete="on" spellcheck="false"
               aria-label="Search" type="search">

        <button class="st-button_style_none search-form__reset" hidden="" type="button" data-ember-action=""
                data-ember-action-1217="1217">
          <span id="ember1218" class="svg-icon close_icon svg-icon_inline ember-view"><svg
                  xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#close"></use>
  </svg></span>
        </button>


  </div>



    <button class="button_with-loader search-form__submit teachlearn__search-form-submit" type="button"
            data-ember-action="" data-ember-action-1219="1219">

      Search
    </button>
</div>
</span>
                    </div>
                </div>
            </header>

            <div class="teachlearn-courses teach-courses">
                <div class="infinite-scroll-modern">
                    {% for notebook in notebooks %}
                    <div class="item-tile-list">
                        <div class="item-tile teach-course-tile">
                            <a class="item-tile__link-wrapper" href="{{ notebook.get_absolute_url }}"
                               aria-label="Link to the course Test"></a>

                            <figure class="item-tile__cover">
                                <img class="item-tile__cover-img" alt="Course cover"
                                     src="{{notebook.image.url}}">

                                <span class="item-tile__cover-badge" tabindex="0"
                                      data-tooltip="{{notebook.get_mode_display}}">
                          <span class="svg-icon {% if notebook.get_mode_display == 'Private' %} eye-off_icon {%else%} eye-onn_icon {%endif%}ember-view"><svg
                                  xmlns="http://www.w3.org/2000/svg">
                          </svg></span>
                        </span>
                            </figure>

                            <div class="item-tile__title item-tile__title_with_badge">
                                <a href="" class="item-tile__title-link" tabindex="-1">
                                    {{notebook.name}}
                                </a>
                            </div>
                            <div class="item-tile__footer" data-hover="true">
                                <a href="{% url 'notebook_manager:setting_notebook' notebook.slug %}" class="item-tile__footer-link">
                                    Settings
                                </a>
                                <a href="{{notebook.get_absolute_url}}" class="item-tile__footer-link">
                                    Content
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                    <!----> <span class="infinite-scroll-modern__trigger" aria-hidden="true"></span></div>
            </div>
        </article>


    </div>

</main>
{% endblock %}