{% extends 'base.html' %}
{% block title %} {{notebook.title}}  topics {%endblock%}
{% block content %}
<main class="main-content">
    <div class="marco-layout course">
        <span id="course-nav-menu-label" hidden="">Main menu and course navigation</span>
        {% include 'notebook/includes/left_menu.html' %}


        <header class="course-page__syllabus page-fragment marco-layout__header">
            <h1>Notebook topics</h1>

            <!----></header>

        <article class="course-page__syllabus page-fragment marco-layout__content" data-marco-no-aside="">
            <nav aria-label="Навигация по курсу" id="ember768" class="toc-syllabus toc-component ember-view">
                <div id="ember769" class="course-toc ember-view">
                    <div id="ember850" class="toc-syllabus__sections course-toc-sections ember-view">
                        {% for topic in notebook.topics.all %}
                        {% with forloop.counter as index %}
                        <div class="toc-syllabus__section">
                            <div data-position="1" id="ember867"
                                 class="toc-syllabus-section ember-view toc-syllabus__section-widget">
                                <div class="toc-syllabus-section__header">
                                    <div class="toc-syllabus-section__title">
                                        <span class="toc-syllabus-section__position">
                                          {{index}}
                                        </span>
                                        {{ topic.title }}
                                    </div>
                                </div>
                            </div>
                            <div id="ember868" class="course-toc-units ember-view toc-syllabus__lessons">
                                {% for note in topic.notes.all %}
                                {% with forloop.counter as note_index %}
                                <div id="ember869" class="lesson-widget ember-view toc-syllabus__lesson">
                                    <div class="lesson-widget__content">
                                        <div class="lesson-widget__cover">
                                            <a href=" {{note.get_absolute_url_public}} "
                                               tabindex="-1">
                                                <div class="lesson-widget__cover-image"
                                                     style="background-image: url(https://ucarecdn.com/836b8980-19a2-43d4-a788-0d31d687e93c/-/scale_crop/180x180/center/);"></div>
                                            </a>
                                        </div>
                                        <div class="lesson-widget__info">
                                            <div class="lesson-widget__title">
                                                <a href="{{note.get_absolute_url_public}}"
                                                   class="lesson-widget__title-text">
                                                    {{index}}.{{note_index}}
                                                    {{note.title}} <!---->
                                                </a>

                                                <!---->      </div>

                                            <div class="lesson-widget__stats">
                                                <!---->
                                                <span class="lesson-widget__hoverable-stats">
              <span class="lesson-widget__stat" title="Views">5000</span>
              <span class="lesson-widget__stat" title="Likes">
                <span id="ember2799" class="svg-icon eye_icon ember-view lesson-widget__stat-icon"><svg
                        xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#eye"></use>
  </svg></span>
                1000
              </span>
              <span class="lesson-widget__stat" title="Reviews">
                <span id="ember2800" class="svg-icon st-user_icon ember-view lesson-widget__stat-icon"><svg
                        xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#st-user"></use>
  </svg></span>
                265
              </span>
          </span>

                                                <!---->
                                                <!---->      </div>

                                            <!---->    </div>
                                    </div>
                                    <!----></div>
                                {%endwith%}
                                {% endfor %}
                            </div>
                        </div>
                        {%endwith%}
                        {%endfor%}
                    </div>
                </div>
            </nav>
        </article>

        <!---->
        <div data-theme="tak-exam" id="ember770" class="modal-popup ember-view"><!----></div>

    </div>

    <!---->
</main>
{%endblock%}
