{% load static %}
<html class="no-js flexbox-gap" lang="ru" data-whatinput="mouse" data-whatintent="mouse"><!--<![endif]-->
<head>
    <title>{% block title %} {%endblock%}</title>
    {% include 'includes/head.html' %}
</head>
<body class="ember-application" data-route="teach.new-course"
      style="--computed-header-height: 50px; --no-initial-animate-duration: initial;" data-socks-connected="">


{% include 'includes/header.html' %}

{% block content %}

{% endblock %}
<!---->

<!---->
{% include 'includes/footer.html' %}


<div id="ember513" class="loading-overlay-container ember-view"><!----></div>

<!---->
<div data-theme="confirm" id="ember514" class="modal-popup ember-view"><!----></div>

<div id="ember515" class="modal-popup ember-view"><!----></div>

<div id="ember516" class="modal-popup ember-view upgrade-course-modal-dialog"><!----></div>

<!---->
<script src="https://www.google.com/recaptcha/api.js?render=explicit&amp;onload=__ember_g_recaptcha_ember509_onload&amp;hl=ru&amp;onload=__ember_g_recaptcha_ember509_onload"
        async="" defer=""></script>
<div style="visibility: hidden; position: absolute; width: 100%; top: -10000px; left: 0px; right: 0px; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0;">
    <div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.5;"></div>
    <div style="margin: 0px auto; top: 0px; left: 0px; right: 0px; position: fixed; border: 1px solid rgb(204, 204, 204); z-index: 2000000000; background-color: rgb(255, 255, 255);">
        <iframe title="текущую проверку reCAPTCHA можно пройти в течение ещё двух минут" name="c-ofa25hla0pu8"
                frameborder="0" scrolling="no"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                src="https://www.google.com/recaptcha/api2/bframe?hl=ru&amp;v=rKbTvxTxwcw5VqzrtN-ICwWt&amp;k=6Lf-_uIkAAAAACjdKRlg4lXEuUd-fI1WRl5iNRGm"
                style="width: 100%; height: 100%;"></iframe>
    </div>
</div>
</body>
</html>