{% load static %}
<html class="no-js flexbox-gap" lang="ru" data-whatinput="mouse" data-whatintent="mouse"><!--<![endif]-->
<head>
    <title>{% block title %} {%endblock%}</title>
    {% include 'includes/head.html' %}
</head>
<body class="ember-application" data-route="teach.new-course"
      style="--computed-header-height: 50px; --no-initial-animate-duration: initial;" data-socks-connected="">

<header id="main-header" class="main-header no-print">
    <!---->

    <div id="custom-navbar-slot"></div>

    <nav id="main-navbar" class="navbar" aria-label="Общая навигация по сайту">
        <a href="/catalog?auth=registration" id="ember441" class="ember-view navbar__logo-link">
            <picture>
                <source srcset="{% static 'img/logo/logo_main.png' %}" media="(max-width: 1024px)">
                <img class="navbar__logo" alt="Your Notebook" src="{% static 'img/logo/logo_main.png' %}">
            </picture>
        </a>
        {% block menu %}
        {% include 'includes/header.html' %}
        {%endblock%}
        <div class="navbar__spacer"></div>

        <form class="navbar__search-form" data-ember-action="" data-ember-action-446="446">
            <div id="ember447" class="ember-view"><span id="ember448" class="with-autocomplete ember-view"><div
                    id="ember449" class="drop-down drop-down-menu ember-view with-autocomplete__drop-down">
  <div aria-expanded="false" aria-haspopup="true" id="ember450" class="drop-down__toggler drop-down-toggler ember-view">
    <div class="with-autocomplete__content">

  <div class="navbar__search-wrapper st-input-wrapper st-input-wrapper_border-none st-input-wrapper_type-search">
    <input class="navbar__search-input st-input st-input_border_none" aria-label="Search" placeholder="Поиск…"
           type="search">
  </div>

    </div>

</div>

                <!---->

                <!----></div></span></div>
        </form>


        <div id="ember457" class="drop-down drop-down-menu ember-view navbar__profile">
            <div aria-expanded="false" aria-haspopup="true" id="ember458"
                 class="drop-down__toggler drop-down-toggler drop-down-toggler--auto-toggle ember-view">
                <button class="navbar__profile-toggler st-button_style_none" aria-label="Profile"
                        aria-describedby="profile-notifications-badge platform-news-badge" type="button">
                    <img class="navbar__profile-img" alt="User avatar"
                         src="https://stepik.org/users/930370884/4c4a2b56d1e27b94deeaeeb47e08dc9f42ad4e1c/avatar.svg">

                    <!---->
                    <span id="profile-notifications-badge" class="navbar__profile-notifications-badge"
                          aria-label="0 notifications" data-count="0">
                0
              </span>

                    <!---->          </button>

            </div>

            <!---->


            <!----></div>
    </nav>

</header>
{% block content %}

{% endblock %}
<!---->

<!---->
{% include 'includes/footer.html' %}


<div id="ember513" class="loading-overlay-container ember-view"><!----></div>

<!---->
<div data-theme="confirm" id="ember514" class="modal-popup ember-view"><!----></div>

<div id="ember515" class="modal-popup ember-view"><!----></div>

<div id="ember516" class="modal-popup ember-view upgrade-course-modal-dialog"><!----></div>

<!---->
<script src="https://www.google.com/recaptcha/api.js?render=explicit&amp;onload=__ember_g_recaptcha_ember509_onload&amp;hl=ru&amp;onload=__ember_g_recaptcha_ember509_onload"
        async="" defer=""></script>
</body>
</html>