{% load static %}
<html class="no-js flexbox-gap" lang="ru" data-whatinput="mouse" data-whatintent="mouse"><!--<![endif]-->
<head>
    <title>{% block title %} {%endblock%}</title>
    {% include 'includes/head.html' %}
</head>
<body class="ember-application" data-route="teach.new-course"
      style="--computed-header-height: 50px; --no-initial-animate-duration: initial;" data-socks-connected="">


{% include 'includes/header.html' %}

{% block content %}

{% endblock %}
<!---->

<!---->
{% include 'includes/footer.html' %}


<div id="ember513" class="loading-overlay-container ember-view"><!----></div>

<!---->
<div data-theme="confirm" id="ember514" class="modal-popup ember-view"><!----></div>

<div id="ember515" class="modal-popup ember-view"><!----></div>

<div id="ember516" class="modal-popup ember-view upgrade-course-modal-dialog"><!----></div>

<!---->
<script src="https://www.google.com/recaptcha/api.js?render=explicit&amp;onload=__ember_g_recaptcha_ember509_onload&amp;hl=ru&amp;onload=__ember_g_recaptcha_ember509_onload"
        async="" defer=""></script>
</body>
</html>