{% extends 'base.html' %}
{% block title %} My notebooks {%endblock%}
{% block content %}
<main class="main-content">


    <div class="marco-layout teachlearn learn">
        <span id="learn-nav-menu-label" hidden="">Navigation menu</span>
        <nav class="marco-layout__nav teachlearn__nav-container" data-marco-sticky-nav-content=""
             aria-labelledby="learn-nav-menu-label">
            <div class="nav-menu learn-nav ember-view teachlearn__course-nav"><!---->
                <div class="image-by-time-of-day learn-nav__header-img">
                    <!----> <img src="/static/frontend/learning/header-img-day.png"
                                 srcset="/static/frontend/learning/header-img-day.png 1x, /static/frontend/learning/header-img-day@2x.png 2x"
                                 data-active="">
                </div>

                <ul class="nav-menu__menu menu learn-nav__menu" data-level="1">
                    <li class="menu-item " data-item="index">
                        <a href="/learn" aria-disabled="false" data-active="">
        <span class="svg-icon home-filled_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#home-filled"></use>
  </svg></span>

                            <span>My notebooks</span>

                            <!---->
                            <!---->
                            <!---->
                        </a>
                    </li>


                    <li class="menu-item " data-item="classes">
                        <a href="/learn/classes" aria-disabled="false">
        <span class="svg-icon class_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#class"></use>
  </svg></span>

                            <span>Reads</span>

                            <!---->
                            <!---->
                            <!---->
                        </a>
                    </li>

                    <li class="menu-item " data-item="notifications">
                        <a href="/notifications?type=learn" aria-disabled="false">
        <span class="svg-icon notifications_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#notifications"></use>
  </svg></span>

                            <span>In favorites</span>

                            <!---->
                            <!---->
                            <!---->
                        </a>
                    </li>
                    <li class="menu-item " data-item="notifications">
                        <a href="/notifications?type=learn" aria-disabled="false">
        <span class="svg-icon notifications_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#notifications"></use>
  </svg></span>

                            <span>Archive</span>

                            <!---->
                            <!---->
                            <!---->
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!---->
        <header class="marco-layout__header">
            <h1>My notebooks</h1>
        </header>

        <article class="marco-layout__content" data-marco-no-aside="">

            <section class="learn-index__section learn-index__dashboard">
                <div class="learn-featured-course-card" data-state="in-progress">
                    <a class="lfcc__link-wrapper" href="/course/82541/syllabus" aria-label="Go to course syllabus"></a>

                    <header class="lfcc__header">
                        <h1 class="lfcc__title">
                            "COURSE NAME
                        </h1>
                        <img class="lfcc__cover"
                             src="https://cdn.stepik.net/media/cache/images/courses/82541/cover_qvZV9QH/7fd401f4f84bcbd7a63c2f26523f3593.png"
                             alt="Course cover" height="48" width="48">
                    </header>

                    <div class="lfcc__progress">
                        <div class="lfcc__progress-stat">
                            <div class="lfcc__progress-stat-items">
                                <p>
                                    DESCRIPTION
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="lfcc__footer">

                        <div class="lfcc__footer-action-wrapper">
                            <button class="lfcc__continue-btn" type="button">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <!---->
            <!---->
            <!---->
            <hr class="learn-index__section-divider">

            <section class="learn-index__section learn-index__section_catalog-block learn-index__recommended-courses">
                <h1>Your Notebooks</h1>

                <div data-appearance="default" data-kind="recommended_courses" id="ember506"
                     class="catalog-block ember-view catalog__block"><!---->
                    <div class="catalog-block__content">
                        <div id="ember507" class="catalog-block-recommended-courses ember-view">
                            <div data-list-type="fragment" id="ember508" class="catalog-course-cards ember-view">
                                <div id="ember509"
                                     class="catalog-course-cards__hor-scroller horizontal-scroller ember-view"
                                     data-has-right-scroll="">
                                    <button class="horizontal-scroller__scroll-btn horizontal-scroller__scroll-btn_left st-button_style_none"
                                            tabindex="-1" type="button" data-ember-action=""
                                            data-ember-action-510="510">
  <span id="ember511" class="svg-icon arrow2-left_icon svg-icon_inline ember-view"><svg
          xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-left"></use>
  </svg></span>
                                    </button>

                                    <div class="horizontal-scroller__content catalog-course-cards__hor-scrollable">

                                        <ul id="ember512" class="course-cards ember-view catalog-course-cards__cards">
                                            <li class="course-cards__item">
                                                <div id="ember546"
                                                     class="course-card catalog-rich-card ember-view course-cards__card"
                                                     data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                             href="/course/68343"
                                                                             aria-label="&quot;Поколение Python&quot;: курс для продвинутых"
                                                                             draggable="false"></a>

                                                    <a class="course-card__title" href="/course/68343">
                                                        "Поколение Python": курс для продвинутых
                                                    </a>

                                                    <span class="course-card__authors">
      <a class="course-card__author" href="/users/37228178">Тимур 🐍 Гуев</a>
      <a class="course-card__author" href="/users/207915658">Благотворительный фонд "Айкью Опшн"</a>
      <a class="course-card__author" href="/users/470788160">Поколение Python</a>
  </span>

                                                    <img class="course-card__cover" alt="Course cover"
                                                         src="https://cdn.stepik.net/media/cache/images/courses/68343/cover_jYvW3ia/93f2aa5d2e72b322a03e34624ab8ccef.png">

                                                    <!---->
                                                    <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 5 out of 5">
              <span id="ember707" class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>5</span>
          </span>

                                                        <span class="course-card__widget" data-type="learners"
                                                              aria-label="There are 188K learners in the course">
            <span id="ember708" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>188K</span>
          </span>

                                                        <span class="course-card__widget" data-type="workload"
                                                              aria-label="Course workload is 65 ч">
            <span id="ember709" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>65 ч</span>
          </span>

                                                        <span class="course-card__widget"
                                                              aria-label="This course issues a certificate"
                                                              data-type="certificate" data-tooltip="сертификат"
                                                              tabindex="0">
          <span id="ember710" class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                            <!---->        </span>

                                                        <!---->  </div>

                                                    <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                                    <div id="ember711"
                                                         class="course-badges ember-view course-card__badges">
                                                        <!----></div>

                                                    <!---->

                                                    <button class="course-card__bookmark ember-tooltip-target"
                                                            type="button" data-ember-action=""
                                                            data-ember-action-712="712">
          <span id="ember713" class="svg-icon favorite-outline_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-outline"></use>
  </svg></span>

                                                        <div id="ember714" class="ember-tooltip-base ember-view">
                                                            <div>
                                                                <!---->  </div>
                                                        </div>
                                                    </button>

                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember547"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div id="ember548"
                                                     class="course-card catalog-rich-card ember-view course-cards__card"
                                                     data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                             href="/course/512"
                                                                             aria-label="Python: основы и применение"
                                                                             draggable="false"></a>

                                                    <a class="course-card__title" href="/course/512">
                                                        Python: основы и применение
                                                    </a>

                                                    <span class="course-card__authors">
      <a class="course-card__author" href="/users/651763">Bioinformatics Institute</a>
  </span>

                                                    <img class="course-card__cover" alt="Course cover"
                                                         src="https://cdn.stepik.net/media/cache/images/courses/512/cover/eb1565502f1f11a0a2d248656ba5ae7c.jpg">

                                                    <!---->
                                                    <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.7 out of 5">
              <span id="ember715" class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.7</span>
          </span>

                                                        <span class="course-card__widget" data-type="learners"
                                                              aria-label="There are 202K learners in the course">
            <span id="ember716" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>202K</span>
          </span>

                                                        <span class="course-card__widget" data-type="workload"
                                                              aria-label="Course workload is 23 ч">
            <span id="ember717" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>23 ч</span>
          </span>

                                                        <span class="course-card__widget"
                                                              aria-label="This course issues a certificate"
                                                              data-type="certificate" data-tooltip="сертификат"
                                                              tabindex="0">
          <span id="ember718" class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                            <!---->        </span>

                                                        <!---->  </div>

                                                    <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                                    <div id="ember719"
                                                         class="course-badges ember-view course-card__badges">
                                                        <!----></div>

                                                    <!---->

                                                    <button class="course-card__bookmark ember-tooltip-target"
                                                            type="button" data-ember-action=""
                                                            data-ember-action-720="720">
          <span id="ember721" class="svg-icon favorite-outline_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-outline"></use>
  </svg></span>

                                                        <div id="ember722" class="ember-tooltip-base ember-view">
                                                            <div>
                                                                <!---->  </div>
                                                        </div>
                                                    </button>

                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember549"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div id="ember550"
                                                     class="course-card catalog-rich-card ember-view course-cards__card"
                                                     data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                             href="/course/38218"
                                                                             aria-label="Веб-разработка для начинающих: HTML и CSS"
                                                                             draggable="false"></a>

                                                    <a class="course-card__title" href="/course/38218">
                                                        Веб-разработка для начинающих: HTML и CSS
                                                    </a>

                                                    <span class="course-card__authors">
      <a class="course-card__author" href="/users/24073100">ITC (vk.com/itc.digital)</a>
  </span>

                                                    <img class="course-card__cover" alt="Course cover"
                                                         src="https://cdn.stepik.net/media/cache/images/courses/38218/cover_S6lejZQ/dae8f6081745ac5e843df1a60f670209.png">

                                                    <!---->
                                                    <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.6 out of 5">
              <span id="ember723" class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.6</span>
          </span>

                                                        <span class="course-card__widget" data-type="learners"
                                                              aria-label="There are 255K learners in the course">
            <span id="ember724" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>255K</span>
          </span>

                                                        <span class="course-card__widget" data-type="workload"
                                                              aria-label="Course workload is 3 ч">
            <span id="ember725" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>3 ч</span>
          </span>

                                                        <span class="course-card__widget"
                                                              aria-label="This course issues a certificate"
                                                              data-type="certificate" data-tooltip="сертификат"
                                                              tabindex="0">
          <span id="ember726" class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                            <!---->        </span>

                                                        <!---->  </div>

                                                    <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                                    <div id="ember727"
                                                         class="course-badges ember-view course-card__badges">
                                                        <!----></div>

                                                    <!---->

                                                    <button class="course-card__bookmark ember-tooltip-target"
                                                            type="button" data-ember-action=""
                                                            data-ember-action-728="728">
          <span id="ember729" class="svg-icon favorite-outline_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-outline"></use>
  </svg></span>

                                                        <div id="ember730" class="ember-tooltip-base ember-view">
                                                            <div>
                                                                <!---->  </div>
                                                        </div>
                                                    </button>

                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember551"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember552"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember553"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember554"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember555"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember556"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember557"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember558"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember559"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember560"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember561"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember562"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember563"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember564"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="course-cards__item">
                                                <div tabindex="0" data-loading="lazy-pending" id="ember565"
                                                     class="course-card catalog-rich-card ember-view course-cards__card">
                                                    <span class="course-card__title" data-skeleton=""
                                                          aria-label="Loading course card">&nbsp;</span>
                                                    <span class="course-card__authors" data-skeleton="">&nbsp;</span>
                                                    <img class="course-card__cover"
                                                         src="/static/frontend/course_cover.png" alt="" role="none">

                                                    <!---->

                                                    <div class="course-card__widgets">
                                                        <span class="course-card__widget" data-skeleton="">&nbsp;</span>
                                                    </div>
                                                    <span class="course-card__price" data-skeleton="">&nbsp;</span>
                                                </div>
                                            </li>

                                            <!----></ul>

                                    </div>

                                    <button class="horizontal-scroller__scroll-btn horizontal-scroller__scroll-btn_right st-button_style_none"
                                            tabindex="-1" type="button" data-ember-action=""
                                            data-ember-action-519="519">
  <span id="ember520" class="svg-icon arrow2-right_icon svg-icon_inline ember-view"><svg
          xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-right"></use>
  </svg></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section hidden="" data-appearance="default" data-kind="visited_courses" id="ember521"
                     class="catalog-block ember-view catalog__block learn-index__section learn-index__section_catalog-block learn-index__recently-viewed-courses">
                <h1 class="catalog-block__title">
                    Недавно просмотренные

                    <!---->  </h1>

                <!---->
                <div class="catalog-block__content">
                    <div id="ember522" class="catalog-block-visited-courses ember-view"><img
                            class="catalog-block-visited-courses__empty-img"
                            src="https://cdn.stepik.net/static/frontend/tak/empty.svg?1720098406" width="100%"
                            height="160" alt="Visited course list is empty" aria-label="List is empty">
                    </div>
                </div>
            </section>
        </article>
    </div>

</main>
{%endblock%}
