<span id="course-nav-menu-label" hidden="">Main menu and course navigation</span>
<nav class="marco-layout__nav course__course-nav-container" data-marco-sticky-nav-content=""
     aria-labelledby="course-nav-menu-label">
    <div class="nav-menu course-nav ember-view course__course-nav">
        <img class="course-nav__cover" src="{{notebook.image.url}}" alt="Course cover" height="56"
             width="56">
        <h1 class="course-nav__title">{{notebook.title}}</h1>
        <div class="course-badges ember-view course-nav__badges">
            {% if notebook.mode == 'PR' %}
            <span class="ember-view course-badge course-badges__badge"
                  data-type="draft"
                  data-value="true"
                  aria-label="Course badge: Private">
                Private
            </span>
            {%else%}
            <span class="ember-view course-badge course-badges__badge"
                  data-type="basic"
                  data-kind="tariff"
                  data-value="true"
                  aria-label="Course badge: Public">
              Public
            </span>
            {%endif%}
        </div>
        <a class="button course-nav__publish-btn success is-outlined" href="/course/210510/publication">
            Publish
        </a>
        <ul class="nav-menu__menu menu course-nav__main-menu">
            <li class="menu-item " data-item="settings">
                <span hidden="">Settings</span>
                <a href="{% url 'notebook_manager:setting_notebook' notebook.slug %}" class="nav-menu__menu-toggler"
                   aria-expanded="false"
                   type="button">
                    <span>Contents</span>
                </a>
            </li>


            <li class="menu-item " data-item="settings">
                <span hidden="">Settings</span>
                <a href="{% url 'notebook_manager:edit_notebook' notebook.slug %}" class="nav-menu__menu-toggler"
                   aria-expanded="false"
                   type="button">
                    <span>Edit</span>
                </a>
            </li>
            <li class="menu-item " data-item="settings">
                <span hidden="">Settings</span>
                <a href="{% url 'notebook_manager:setting_notebook' notebook.slug %}" class="nav-menu__menu-toggler"
                   aria-expanded="false"
                   type="button">
                    <span>Settings</span>
                </a>
            </li>
            <li class="menu-item ">
                <span></span>
                <button class="nav-menu__menu-toggler" aria-expanded="false"
                        type="button">
                    <span>Comments</span>
                </button>
            </li>
            <li class="menu-item ">
                <span></span>
                <button class="nav-menu__menu-toggler">
                    <span>Reviews</span>
                </button>
            </li>
            <li class="menu-item-divider " data-media-query="not-mobile"></li>
            <li class="menu-item " data-media-query="not-mobile" data-item="new-class">
                <a href="/new-class?course=210510" aria-disabled="false">
                    <span>Create Notebook</span>
                </a>
            </li>

        </ul>
    </div>
</nav>