<span id="course-nav-menu-label" hidden="">Main menu and course navigation</span>
<nav class="marco-layout__nav course__course-nav-container" data-marco-sticky-nav-content=""
     aria-labelledby="course-nav-menu-label">
    <div class="nav-menu course-nav ember-view course__course-nav">
        <img class="course-nav__cover" src="{{notebook.image.url}}" alt="Course cover" height="56"
             width="56">
        <h1 class="course-nav__title">{{notebook.title}}</h1>
        <div class="course-badges ember-view course-nav__badges">
            {% if notebook.mode == 'PR' %}
            <span class="ember-view course-badge course-badges__badge"
                  data-type="draft"
                  data-value="true"
                  aria-label="Course badge: Private">
                Private
            </span>
            {%else%}
            <span class="ember-view course-badge course-badges__badge"
                  data-type="basic"
                  data-kind="tariff"
                  data-value="true"
                  aria-label="Course badge: Public">
              Public
            </span>
            {%endif%}
        </div>

        <a class="button course-nav__publish-btn success is-outlined" href="/course/210510/publication">
            Publish
        </a>
        <ul class="nav-menu__menu menu course-nav__main-menu" data-level="1">
            <li class="menu-item " data-item="course">
                <ul class="nav-menu__menu menu" data-level="2" aria-labelledby="ember573">
                    <li class="menu-item " data-item="syllabus">
                        <a href="/course/210510/syllabus" aria-disabled="false" data-active="">
                            <span>Edit</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="menu-item " data-item="settings">
                <span id="ember627" hidden="">Settings</span>

                <button class="nav-menu__menu-toggler" aria-expanded="false"
                        type="button" data-ember-action="" data-ember-action-629="629">
        <span id="ember631" class="svg-icon course-settings_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#course-settings"></use>
  </svg></span>

                    <span>Settings</span>

                    <!---->
                    <!---->
                    <span id="ember632"
                          class="svg-icon right-arrow_icon ember-view nav-menu__menu-item-fold-icon"><svg
                            xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#right-arrow"></use>
  </svg></span>

                </button>
            </li>
            <li class="menu-item ">
                <span></span>
                <button class="nav-menu__menu-toggler" aria-expanded="false"
                        type="button">
        <span class="svg-icon course-settings_icon ember-view">
            <svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#course-settings"></use>
  </svg>
        </span>
                    <span>Comments</span>

                    <span
                            class="svg-icon right-arrow_icon ember-view nav-menu__menu-item-fold-icon"><svg
                            xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#right-arrow"></use>
  </svg></span>

                </button>
            </li>
            <li class="menu-item ">
                <span></span>
                <button class="nav-menu__menu-toggler">
        <span id="" class="svg-icon course-settings_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#course-settings"></use>
  </svg></span>

                    <span>Reviews</span>

                    <!---->
                    <!---->
                    <span
                            class="svg-icon right-arrow_icon ember-view nav-menu__menu-item-fold-icon"><svg
                            xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#right-arrow"></use>
  </svg></span>

                </button>
            </li>
            <li class="menu-item-divider " data-media-query="not-mobile"></li>

            <li class="menu-item " data-media-query="not-mobile" data-item="new-class">
                <a href="/new-class?course=210510" aria-disabled="false">
        <span id="ember682" class="svg-icon plus-2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#plus-2"></use>
  </svg></span>

                    <span>Create Notebook</span>

                    <!---->
                    <!---->
                    <!---->
                </a>
            </li>

        </ul>


        <!----></div>
</nav>