{%extends 'base.html'%}
{% block title %} Content {{notebook.name}} {%endblock%}
{% block content %}
<header class="course-page__syllabus page-fragment marco-layout__header">
  <h1>Программа курса</h1>

    <span class="toc__editor-link" data-media-query="not-mobile">
      <a href="/course/210577/edit" id="ember591" class="ember-view button has-icon">
        <span id="ember592" class="svg-icon pencil_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1725628590#pencil"></use>
  </svg></span>
        <span>Редактировать содержание</span>
      </a>
    </span>
</header>
<article class="course-page__syllabus page-fragment marco-layout__content" data-marco-no-aside="">
<nav aria-label="Навигация по курсу" id="ember593" class="toc-syllabus toc-component ember-view"><div id="ember594" class="course-toc ember-view">
<div id="ember606" class="toc-syllabus__sections course-toc-sections ember-view">          <div class="toc-syllabus__section">
        <div data-position="1" id="ember609" class="toc-syllabus-section ember-view toc-syllabus__section-widget"><div class="toc-syllabus-section__header">
  <div class="toc-syllabus-section__title">
    <span class="toc-syllabus-section__position">
      1.
    </span>
    List
  </div>

    <div class="toc-syllabus-section__progress">
<!---->    </div>
</div>

<!---->
  <div class="toc-syllabus-section__description">
    Here will be list description
  </div>

<!---->
<div class="toc-syllabus-section__progress-bar" style="--progress: 100">
  &nbsp;
</div>
</div>
        <div id="ember610" class="course-toc-units ember-view toc-syllabus__lessons">
          <div id="ember611" class="lesson-widget lesson-widget_progress_passed ember-view toc-syllabus__lesson">  <div class="toc__progress-bar">
    &nbsp;
  </div>
    <div class="toc__progress-bar-green" style="min-height: 100% !important;">
      &nbsp;
    </div>
  <div class="lesson-widget__content">
      <div class="lesson-widget__cover">
          <a href="/lesson/1388874/step/1?unit=1405516" tabindex="-1">
            <div class="lesson-widget__cover-image" style="background-image: url(/static/frontend/lesson_cover.svg);"></div>
          </a>
      </div>
    <div class="lesson-widget__info">
      <div class="lesson-widget__title">
            <a href="/lesson/1388874/step/1?unit=1405516" class="lesson-widget__title-text">
              1.1
              Описание <!---->
            </a>

            <div class="lesson-widget__cc">
              <span title="Этот урок доступен ограниченному кругу лиц"><span id="ember621" class="svg-icon lock_icon ember-view lesson-widget__title-license-icon"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1725628590#lock"></use>
  </svg></span></span>
            </div>
                </div>

      <div class="lesson-widget__stats">
<!---->
          <span class="lesson-widget__hoverable-stats">
<!---->              <span class="lesson-widget__stat" title="Количество просмотров">
                <span id="ember622" class="svg-icon eye_icon ember-view lesson-widget__stat-icon"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1725628590#eye"></use>
  </svg></span>
                1
              </span>
              <span class="lesson-widget__stat" title="Количество человек, прошедших урок">
                <span id="ember623" class="svg-icon st-user_icon ember-view lesson-widget__stat-icon"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1725628590#st-user"></use>
  </svg></span>
                1
              </span>
          </span>

<!---->
            <a title="Редактировать" href="/edit-lesson/1388874" id="ember624" class="ember-view button button_style_secondary lesson-widget__edit-button">
              <span id="ember625" class="svg-icon pencil_icon ember-view lesson-widget__edit-icon"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1725628590#pencil"></use>
  </svg></span>
            </a>
      </div>

<!---->    </div>
  </div>
<!----></div>

</div>
      </div>

          <div class="toc-syllabus__section">
        <div data-position="2" id="ember613" class="toc-syllabus-section ember-view toc-syllabus__section-widget"><div class="toc-syllabus-section__header">
  <div class="toc-syllabus-section__title">
    <span class="toc-syllabus-section__position">
      2.
    </span>
    Test 2
  </div>

    <div class="toc-syllabus-section__progress">
<!---->    </div>
</div>

<!---->
<!---->
<!---->
<div class="toc-syllabus-section__progress-bar" style="--progress: 0">
  &nbsp;
</div>
</div>
        <div id="ember614" class="course-toc-units ember-view toc-syllabus__lessons"><!----></div>
      </div>

</div>
</div>
</nav></article>
{%block end%}