{% extends 'base.html' %}
{% block title %}Your Notebook{%endblock%}
{% block content %}
<main class="main-content">
    <div class="catalog">
        <div class="catalog__search-bar">
            <div class="search-form ember-view catalog__search-form">
                <div class="search-form__form">
                    <div class="search-form__input-wrapper">
                        <span class="search-form__autocomplete with-autocomplete ember-view">
                            <div class="drop-down drop-down-menu ember-view with-autocomplete__drop-down">
                                <div aria-expanded="false" aria-haspopup="true"
                                     class="drop-down__toggler drop-down-toggler ember-view">
                                    <div class="with-autocomplete__content">
                                        <input class="search-form__input " placeholder="Notebook name autor or topic"
                                               autocomplete="off"
                                               spellcheck="false" aria-label="Search" type="search">
                                            <button class="st-button_style_none search-form__reset" hidden=""
                                                    type="button">
                                              <span class="svg-icon close_icon svg-icon_inline ember-view">
                                                  <svg xmlns="http://www.w3.org/2000/svg">
                                                    <use xlink:href="/static/frontend-build/icons.svg?1720098406#close"></use>
                                                    </svg>
                                              </span>
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <button class="catalog__reset-search-mobile" aria-label="Go back to Catalog" hidden="">
                    <span class="svg-icon arrow2-left_icon svg-icon_inline ember-view"><svg
                            xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-left"></use>
  </svg></span>
                    </button>

                    <button class="catalog__search-all-filters-mobile secondary" aria-label="Filters" type="button">
          <span class="svg-icon filter2_icon svg-icon_inline ember-view"><svg
                  xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#filter2"></use>
  </svg></span>
                    </button>

                </div>
            </div>
        </div>
        <div data-appearance="default" data-kind="full_course_lists"
             class="catalog-block ember-view catalog__block">
            <h1 class="catalog-block__title">
                Popular Notebooks

                <span
                        class="svg-icon arrow2-right_icon svg-icon_inline ember-view catalog-block__title-arrow-icon"><svg
                        xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-right"></use>
  </svg></span>
            </h1>

            <!---->
            <div class="catalog-block__content">
                <div id="ember1647" class="catalog-block-full-course-lists ember-view">
                    <div data-list-type="fragment" id="ember1653" class="catalog-course-cards ember-view">
                        <div
                                class="catalog-course-cards__hor-scroller horizontal-scroller ember-view"
                                data-has-right-scroll="">
                            <button class="horizontal-scroller__scroll-btn horizontal-scroller__scroll-btn_left st-button_style_none"
                                    tabindex="-1" type="button" data-ember-action="" data-ember-action-1655="1655">
                                  <span id="ember1656" class="svg-icon arrow2-left_icon svg-icon_inline ember-view"><svg
                                          xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-left"></use>
                                  </svg></span>
                            </button>
                            <div class="horizontal-scroller__content catalog-course-cards__hor-scrollable">

                                <ul id="ember1657" class="course-cards ember-view catalog-course-cards__cards">
                                    {% for notebook in notebooks_popular %}
                                    <li class="course-cards__item">
                                        <div id="ember1658"
                                             class="course-card catalog-rich-card ember-view course-cards__card"
                                             data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                     href="{{notebook.get_absolute_url_public}} "
                                                                     aria-label="PRO C#. Коллекции"
                                                                     draggable="false"></a>

                                            <a class="course-card__title" href="{{notebook.get_absolute_url_public}}">
                                                {{notebook.title}}
                                            </a>

                                            <span class="course-card__authors">
            <a class="course-card__author" href="/users/596721262?auth=login">USER</a>
  </span>

                                            <img class="course-card__cover" alt="Course cover"
                                                 src="{{notebook.image.url}}">

                                            <!---->
                                            <div class="course-card__widgets">
                                                <!---->
                                                <span class="course-card__widget" data-type="learners"
                                                      aria-label="There are 424 learners in the course">
            <span id="ember2480" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>Views</span>
          </span>

                                                <span class="course-card__widget" data-type="workload">
            <span id="ember2481" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>Reads</span>
          </span>

                                                <!---->  </div>
                                            <div id="ember2483"
                                                 class="course-badges ember-view course-card__badges"><!----></div>

                                            <!---->

                                            <button class="course-card__bookmark ember-tooltip-target" type="button"
                                                    data-ember-action="" data-ember-action-2484="2484"
                                                    aria-describedby="tooltip_hg8onjsshj" title="">
          <span id="ember2485" class="svg-icon favorite-outline_icon ember-view"><svg
                  xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-outline"></use>
  </svg></span>

                                                <div id="ember2486" class="ember-tooltip-base ember-view">
                                                    <!----></div>
                                            </button>

                                        </div>

                                    </li>
                                    {%endfor%}
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div data-appearance="default" data-kind="recommended_courses" id
             class="catalog-block ember-view catalog__block">
            <h1 class="catalog-block__title">
                Random notebooks

                <span
                        class="svg-icon arrow2-right_icon svg-icon_inline ember-view catalog-block__title-arrow-icon"><svg
                        xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-right"></use>
  </svg></span>
            </h1>

            <!---->
            <div class="catalog-block__content">
                <div class="catalog-block-recommended-courses ember-view">
                    <div data-list-type="fragment" class="catalog-course-cards ember-view">
                        <div class="catalog-course-cards__hor-scroller horizontal-scroller ember-view"
                             data-has-right-scroll="">
                            <div class="horizontal-scroller__content catalog-course-cards__hor-scrollable">

                                <ul class="course-cards ember-view catalog-course-cards__cards">
                                    <li class="course-cards__item">
                                        <div
                                                class="course-card catalog-rich-card ember-view course-cards__card"
                                                data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                        href="/course/4852?auth=login"
                                                                        aria-label="Введение в Data Science и машинное обучение"
                                                                        draggable="false"></a>

                                            <a class="course-card__title" href="/course/4852?auth=login">
                                                Введение в Data Science и машинное обучение
                                            </a>

                                            <span class="course-card__authors">
      <a class="course-card__author" href="/users/651763?auth=login">Bioinformatics Institute</a>
  </span>

                                            <img class="course-card__cover" alt="Course cover"
                                                 src="https://cdn.stepik.net/media/cache/images/courses/4852/cover_R0OtNuB/e51489363d079b8830367935563887e8.jpg">

                                            <!---->
                                            <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.9 out of 5">
              <span class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.9</span>
          </span>

                                                <span class="course-card__widget" data-type="learners"
                                                      aria-label="There are 139K learners in the course">
            <span class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>139K</span>
          </span>

                                                <span class="course-card__widget" data-type="workload"
                                                      aria-label="Course workload is 21 ч">
            <span class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>21 ч</span>
          </span>

                                                <span class="course-card__widget"
                                                      aria-label="This course issues a certificate"
                                                      data-type="certificate" data-tooltip="сертификат" tabindex="0">
          <span class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                    <!---->        </span>

                                                <!---->  </div>

                                            <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                            <div class="course-badges ember-view course-card__badges">
                                                <!----></div>

                                            <!---->

                                            <button class="course-card__bookmark ember-tooltip-target" data-toggled=""
                                                    type="button" data-ember-action="" data-ember-action-3069="3069">
          <span class="svg-icon favorite-filled_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-filled"></use>
  </svg></span>

                                                <div class="ember-tooltip-base ember-view">
                                                    <div>
                                                        <!---->  </div>
                                                </div>
                                            </button>

                                        </div>
                                    </li>
                                    <li class="course-cards__item">
                                        <div
                                                class="course-card catalog-rich-card ember-view course-cards__card"
                                                data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                        href="/course/4852?auth=login"
                                                                        aria-label="Введение в Data Science и машинное обучение"
                                                                        draggable="false"></a>

                                            <a class="course-card__title" href="/course/4852?auth=login">
                                                Введение в Data Science и машинное обучение
                                            </a>

                                            <span class="course-card__authors">
      <a class="course-card__author" href="/users/651763?auth=login">Bioinformatics Institute</a>
  </span>

                                            <img class="course-card__cover" alt="Course cover"
                                                 src="https://cdn.stepik.net/media/cache/images/courses/4852/cover_R0OtNuB/e51489363d079b8830367935563887e8.jpg">

                                            <!---->
                                            <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.9 out of 5">
              <span class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.9</span>
          </span>

                                                <span class="course-card__widget" data-type="learners"
                                                      aria-label="There are 139K learners in the course">
            <span class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>139K</span>
          </span>

                                                <span class="course-card__widget" data-type="workload"
                                                      aria-label="Course workload is 21 ч">
            <span class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>21 ч</span>
          </span>

                                                <span class="course-card__widget"
                                                      aria-label="This course issues a certificate"
                                                      data-type="certificate" data-tooltip="сертификат" tabindex="0">
          <span class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                    <!---->        </span>

                                                <!---->  </div>

                                            <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                            <div class="course-badges ember-view course-card__badges">
                                                <!----></div>

                                            <!---->

                                            <button class="course-card__bookmark ember-tooltip-target" data-toggled=""
                                                    type="button" data-ember-action="" data-ember-action-3069="3069">
          <span class="svg-icon favorite-filled_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-filled"></use>
  </svg></span>

                                                <div class="ember-tooltip-base ember-view">
                                                    <div>
                                                        <!---->  </div>
                                                </div>
                                            </button>

                                        </div>
                                    </li>
                                    <!----></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-appearance="default" data-kind="recommended_courses" id
             class="catalog-block ember-view catalog__block">
            <h1 class="catalog-block__title">
                Recommended notebooks

                <span
                        class="svg-icon arrow2-right_icon svg-icon_inline ember-view catalog-block__title-arrow-icon"><svg
                        xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-right"></use>
  </svg></span>
            </h1>

            <!---->
            <div class="catalog-block__content">
                <div id="ember2060" class="catalog-block-recommended-courses ember-view">
                    <div data-list-type="fragment" id="ember2061" class="catalog-course-cards ember-view">
                        <div id="ember2062" class="catalog-course-cards__hor-scroller horizontal-scroller ember-view"
                             data-has-right-scroll="">
                            <button class="horizontal-scroller__scroll-btn horizontal-scroller__scroll-btn_left st-button_style_none"
                                    tabindex="-1" type="button" data-ember-action="" data-ember-action-2063="2063">
  <span id="ember2064" class="svg-icon arrow2-left_icon svg-icon_inline ember-view"><svg
          xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#arrow2-left"></use>
  </svg></span>
                            </button>

                            <div class="horizontal-scroller__content catalog-course-cards__hor-scrollable">

                                <ul id="ember2065" class="course-cards ember-view catalog-course-cards__cards">
                                    <li class="course-cards__item">
                                        <div id="ember2107"
                                             class="course-card catalog-rich-card ember-view course-cards__card"
                                             data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                     href="/course/4852?auth=login"
                                                                     aria-label="Введение в Data Science и машинное обучение"
                                                                     draggable="false"></a>

                                            <a class="course-card__title" href="/course/4852?auth=login">
                                                Введение в Data Science и машинное обучение
                                            </a>

                                            <span class="course-card__authors">
      <a class="course-card__author" href="/users/651763?auth=login">Bioinformatics Institute</a>
  </span>

                                            <img class="course-card__cover" alt="Course cover"
                                                 src="https://cdn.stepik.net/media/cache/images/courses/4852/cover_R0OtNuB/e51489363d079b8830367935563887e8.jpg">

                                            <!---->
                                            <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.9 out of 5">
              <span id="ember3064" class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.9</span>
          </span>

                                                <span class="course-card__widget" data-type="learners"
                                                      aria-label="There are 139K learners in the course">
            <span id="ember3065" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>139K</span>
          </span>

                                                <span class="course-card__widget" data-type="workload"
                                                      aria-label="Course workload is 21 ч">
            <span id="ember3066" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>21 ч</span>
          </span>

                                                <span class="course-card__widget"
                                                      aria-label="This course issues a certificate"
                                                      data-type="certificate" data-tooltip="сертификат" tabindex="0">
          <span id="ember3067" class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                    <!---->        </span>

                                                <!---->  </div>

                                            <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                            <div id="ember3068" class="course-badges ember-view course-card__badges">
                                                <!----></div>

                                            <!---->

                                            <button class="course-card__bookmark ember-tooltip-target" data-toggled=""
                                                    type="button" data-ember-action="" data-ember-action-3069="3069">
          <span id="ember3070" class="svg-icon favorite-filled_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-filled"></use>
  </svg></span>

                                                <div id="ember3071" class="ember-tooltip-base ember-view">
                                                    <div>
                                                        <!---->  </div>
                                                </div>
                                            </button>

                                        </div>
                                    </li>
                                    <li class="course-cards__item">
                                        <div id="ember2108"
                                             class="course-card catalog-rich-card ember-view course-cards__card"
                                             data-has-bookmark=""><a class="catalog-rich-card__link-wrapper"
                                                                     href="/course/217?auth=login"
                                                                     aria-label="Алгоритмы: теория и практика. Методы"
                                                                     draggable="false"></a>

                                            <a class="course-card__title" href="/course/217?auth=login">
                                                Алгоритмы: теория и практика. Методы
                                            </a>

                                            <span class="course-card__authors">
      <a class="course-card__author" href="/users/736914?auth=login">Computer Science Center (CS центр)</a>
  </span>

                                            <img class="course-card__cover" alt="Course cover"
                                                 src="https://cdn.stepik.net/media/cache/images/courses/217/cover/ade9aa9908b193c6a6952eab99aa8d6a.png">

                                            <!---->
                                            <div class="course-card__widgets">
          <span class="course-card__widget" data-type="rating" aria-label="Rating of this course is 4.7 out of 5">
              <span id="ember3072" class="svg-icon star2_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#star2"></use>
  </svg></span>
              <span>4.7</span>
          </span>

                                                <span class="course-card__widget" data-type="learners"
                                                      aria-label="There are 154K learners in the course">
            <span id="ember3073" class="svg-icon user_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#user"></use>
  </svg></span>
            <span>154K</span>
          </span>

                                                <span class="course-card__widget" data-type="workload"
                                                      aria-label="Course workload is 27 ч">
            <span id="ember3074" class="svg-icon clock_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#clock"></use>
  </svg></span>
            <span>27 ч</span>
          </span>

                                                <span class="course-card__widget"
                                                      aria-label="This course issues a certificate"
                                                      data-type="certificate" data-tooltip="сертификат" tabindex="0">
          <span id="ember3075" class="svg-icon diploma_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#diploma"></use>
  </svg></span>

                                                    <!---->        </span>

                                                <!---->  </div>

                                            <span class="course-card__price">
        <span class="display-price" data-default-price-free="">
      <span class="sr-only display-price__sr-only-price-default">Price:</span>
      <span class="display-price__price display-price__price_default"><span class="format-price format-price_free">Бесплатно</span></span>

            <!---->  </span>

  </span>

                                            <div id="ember3076" class="course-badges ember-view course-card__badges">
                                                <!----></div>

                                            <!---->

                                            <button class="course-card__bookmark ember-tooltip-target" data-toggled=""
                                                    type="button" data-ember-action="" data-ember-action-3077="3077">
          <span id="ember3078" class="svg-icon favorite-filled_icon ember-view"><svg xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#favorite-filled"></use>
  </svg></span>

                                                <div id="ember3079" class="ember-tooltip-base ember-view">
                                                    <div>
                                                        <!---->  </div>
                                                </div>
                                            </button>

                                        </div>
                                    </li>
                                    <!----></ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{%endblock%}