{% extends 'base.html' %}

{% block content %}


<main class="main-content">


    <div class="marco-layout course">
        {%include 'notebooks/includes/left_menu.html'%}

        <header class="course-page__syllabus page-fragment marco-layout__header">
            <h1>Topic</h1>
        </header>

        <div class="syllabus-editor ember-view page-fragment marco-layout__content"
             data-marco-no-aside="">
            <div class="col-xs-12 ">
                <div class="syllabus-editor__section-list">
                    <div class="section-editor ember-view" data-anchor="">
                        <div class="section-editor__head">
                            <form action="" method="post">
                                {%csrf_token%}
                                <div class="section-editor__head-content">
                                    <div class="section-editor__headline">
                                        <span class="section-editor__title">
                                          <div class="section-editor__title-editor">
                                            <div class="the-form-field ember-view section-editor__title-field">
                                                    {{topic_form.title}}
                                                <span class="the-form-field__char-counter" data-pos="legend"
                                                      id="charCount">
                                                    4/64
                                                </span>
                                            </div>
                                          </div>
                                        </span>
                                    </div>
                                    <div data-visible-errors="0"
                                         class="the-form-field ember-view section-editor__description">
                                        {{topic_form.description}}
                                        <span class="the-form-field__char-counter" data-pos="legend">
                                            4/256
                                        </span>
                                    </div>
                                    <div class="deadlines-editor ember-view"
                                         data-anchor="">
                                        <button class="course-editor__save-btn" name="topic_form" type="submit">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="section-editor__reorder-btns">
                            </div>
                        </div>
                    </div>
                </div>
                {% for item in topics_notes_forms%}
                <div class="syllabus-editor__section-list">
                    <div class="section-editor ember-view" data-anchor="">
                        <div class="section-editor__head">

                            <form action="" method="POST">
                                {%csrf_token%}
                                <div class="section-editor__head-content">
                                    <div class="section-editor__headline">
                                        <span class="section-editor__title">
                                          <div class="section-editor__title-editor">
                                            <div class="the-form-field ember-view section-editor__title-field"
                                                 data-err-shown="">
                                                 {{item.form.title}}
                                                  <span class="the-form-field__char-counter" data-pos="legend">
                                                    4/64
                                                  </span>
                                            </div>
                                          </div>
                                        </span>
                                    </div>
                                    <div class="the-form-field ember-view section-editor__description"><!---->
                                        {{item.form.description}}
                                        <span class="the-form-field__char-counter" data-pos="legend">
                                            0/256
                                        </span>
                                        {{item.form.pk}}
                                    </div>
                                    <div class="deadlines-editor ember-view">
                                        <button class="course-editor__save-btn" type="submit">
                                            Update
                                        </button>
                                        <form method="post">
                                            {%csrf_token%}
                                            {{item.form.pk}}
                                            <button class="course-editor__save-btn"
                                                    style="background: indianred;"
                                                    name="delete_topic" value="" type="submit">Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </form>


                            <div class="section-editor__reorder-btns">
                            </div>
                        </div>
                        <div class="section-editor__unit-list">
                            <form action="" method="POST">
                                {%csrf_token%}
                                <div class="new-unit ember-view">
                                    <div class="new-unit__cover-image">
                                        <img src="{{notebook.image.url}}" style="width: 60px;" alt="">
                                    </div>
                                    <div class="new-unit__info">
                                        <div class="new-unit__headline">
                                            <div class="the-form-field ember-view new-unit__lesson-title">
                                                {{note_form.title}}
                                                <span class="the-form-field__char-counter" data-pos="footnote">
                                                </span>
                                            </div>
                                            {{item.form.pk}}
                                            <button class="st-size-normal new-unit__btn" type="submit"
                                                    name="note_form" value="">
                                                Create note
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </form>

                            {% for note in item.notes %}
                            <div class="smooth-dnd-container vertical drag-and-drop ember-view">
                                <div
                                        class="drag-and-drop-draggable smooth-dnd-draggable-wrapper ember-view section-editor__unit-draggable">
                                    <div class="unit-editor sortable-item ember-view">
                                        <div class="unit-editor__cover-image">
                                            <img src="{{note.notebook_object.image.url}}" style="width: 60px" alt="">
                                        </div>
                                        <div class="unit-editor__info">
                                            <div class="unit-editor__headline">
                                                {{note.title}}
                                                <div class="the-form-field ember-view unit-editor__lesson-title">
                                                </div>
                                                <a href="{{ note.get_absolute_url }}"
                                                   class="ember-view button grey unit-editor__lesson-edit">Edit</a>
                                                <form method="post">
                                                    {%csrf_token%}
                                                    <input type="hidden" value="{{note.slug}}" name="note_slug">
                                                    <button class="st-size-normal new-unit__btn"
                                                            style="background: indianred; margin: 20px; margin-bottom: 5px"
                                                            name="delete_note" value="" type="submit">Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="unit-editor__reorder-btns unit-editor_only_hover">
                                        </div>
                                    </div>

                                </div>

                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {%endfor%}


            </div>

        </div>
    </div>
    <!---->
</main>

{%endblock%}
