{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main-content">
    <div class="lesson-editor">
        <div class="lesson-editor__body">
            <div data-pinned="" class="lesson-sidebar ember-view player-lesson-sidebar">
                <div class="lesson-sidebar__wrapper">
                    <div class="lesson-sidebar__body">
                        <div class="lesson-sidebar__header">
                            <a title="NAME" href=" {{note.notebook_object.get_absolute_url}}"
                               class="ember-view lesson-sidebar__course-title">
                                {{note.notebook_object.name}}
                            </a>
                        </div>
                        <div class="lesson-sidebar__content custom-scrollbar custom-scrollbar_dark">
                            <nav class="toc-sections ember-view lesson-sidebar__toc" aria-label="Navigation">
                                {% for topic in topics %}
                                {% with forloop.counter as index_topic %}
                                <div class="lesson-sidebar__module-header sidebar-module-header" role="directory"
                                     aria-expanded="false">
                                    <div class="sidebar-module-header__title">
                                        {{index_topic}}&nbsp;&nbsp;{{topic.topic}}
                                    </div>
                                </div>
                                {% for note in topic.notes.all %}
                                {% with forloop.counter as index_note %}
                                <div class="lesson-sidebar__toc-inner">
                                    <div class="with-lazy-loading toc-lesson ember-view">
                                        <div>
                                            <a href="{{note.get_absolute_url}}"
                                               class="ember-view lesson-sidebar__lesson
                                                    {% if note.title  == step.note.title %} active {%else%} ''{%endif%}">
                                                <span class="lesson-sidebar__lesson-name">
                                                    {{index_topic}}.{{index_note}}&nbsp;&nbsp;{{note.title}}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {%endwith%}
                                {%endfor%}
                                {% endwith %}
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <form class="lesson-editor__player" method="post">
                <h1 class="lesson-editor__player-title">
                    Edit note
                </h1>
                <div class="lesson-edit-widget lesson-editor__info">
                    <div class="lesson-edit-widget__cover">
                        <div class="lesson-edit-widget__cover-image lesson-edit-widget__cover-edit">
                            <img src="{{note.notebook_object.image.url}}" alt="">
                        </div>
                    </div>
                    <div class="lesson-edit-widget__title">
                        {{form.title_note}}
                        <div class="lesson-edit-widget__symbols-left" id="charCount">
                        </div>
                    </div>
                </div>
                <div class="step-pins-editor lesson-editor__step-pins-editor">
                    <div class="smooth-dnd-container horizontal drag-and-drop ember-view lesson-editor__step-pins">
                        {% for step in note.steps.all %}
                        {% with forloop.counter as index %}
                        <div class="drag-and-drop-draggable smooth-dnd-draggable-wrapper ember-view">
                            <div class="lesson-edit-step-pin
                             {% if request.path == step.get_absolute_url %} is_active {%else%} {%endif%}"
                                 data-step-position="{{index}}">
                                <a href="{{step.get_absolute_url}}"
                                   class="active ember-view lesson-edit-step-pin__link" draggable="false">
                                </a>
                            </div>
                        </div>
                        {%endwith%}
                        {% endfor %}
                    </div>
                    <div class="lesson-edit-step-pin lesson-editor__add-step-pin" data-has-caption="">
                        <button class="lesson-editor__add-step-pin-btn st-button_style_none" name='add_new_step'
                                title="Add new step"
                                type="button">
                            <span class="lesson-editor__add-step-pin-caption">
                                Add new step
                            </span>
                        </button>
                    </div>
                </div>
                <section class="lesson-editor__content step-editor">
                    <div class="step-editor__header">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.content }}
                    </div>
                </section>
                <button type="submit">Save</button>
            </form>
            <form action="{% url 'notebook_manager:delete_step' %}" method="post">
                {%csrf_token%}
                <input type="hidden" value="{{note.slug}}" name="note_slug">
                <input type="hidden" value="{{step.id}}" name="step_id">
                <button style="background: indianred;" type="submit">Delete</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
{%block footer%}
{%endblock%}