<footer id="ember511" class="page-footer page-footer-modern ember-view page_footer">
    <div class="page-footer__container">
        <div class="page-footer__row">
            <div class="page-footer__col page-footer__terms">
                <div class="page-footer__years">
                    © 2013 — 2024. Stepik
                </div>
                <a href="https://welcome.stepik.org/ru/terms" target="_blank" rel="noopener noreferrer">Пользовательское
                    соглашение</a><br> <a href="https://welcome.stepik.org/ru/privacy" target="_blank"
                                          rel="noopener noreferrer">Политика конфиденциальности</a>

                <div class="page-footer__lang">
                    <button class="btn-link has-icon" type="button">
            <span id="ember512" class="svg-icon lang_icon svg-icon_inline ember-view"><svg
                    xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="/static/frontend-build/icons.svg?1720098406#lang"></use>
  </svg></span>
                        <span>Switch to English</span>
                    </button>
                </div>
            </div>

            <div class="page-footer__col page-footer__lists">
                <ul class="page-footer__col  page-footer__list">
                    <li>
                        <a href="https://teach.stepik.org/?utm_source=stepik_catalog&amp;utm_medium=stepik_teach&amp;utm_campaign=footer-2022-05"
                           target="_blank" rel="noopener noreferrer">Авторам курсов</a>
                    </li>
                    <li>
                        <a href="https://welcome.stepik.org/courses-for-companies?utm_source=stepik_catalog&amp;utm_medium=stepik_companies&amp;utm_campaign=courses-for-companies"
                           target="_blank" rel="noopener noreferrer">Компаниям</a>
                    </li>
                    <li>
                        <a href="https://help.stepik.org" target="_blank" rel="noopener noreferrer">Помощь</a>
                    </li>
                    <li>
                        <a href="https://welcome.stepik.org/ru/contacts" target="_blank" rel="noopener noreferrer">Контакты</a>
                    </li>
                </ul>

                <ul class="page-footer__col page-footer__list">
                    <li>
                        <a href="https://welcome.stepik.org/ru/press" target="_blank" rel="noopener noreferrer">Партнёрство</a>
                    </li>
                    <li>
                        <a href="https://welcome.stepik.org/ru/about" target="_blank" rel="noopener noreferrer">О
                            проекте</a>
                    </li>
                    <li>
                        <a href="https://welcome.stepik.org/ru/team" target="_blank"
                           rel="noopener noreferrer">Команда</a>
                    </li>
                    <li>
                        <a href="https://welcome.stepik.org/ru/careers" target="_blank" rel="noopener noreferrer">Вакансии</a>
                    </li>
                </ul>

                <ul class="page-footer__col page-footer__counters  page-footer__list">
                    <li title="Общее количество отправленных решений на Stepik">
                        <strong>1&nbsp;248&nbsp;818&nbsp;896</strong> решений
                    </li>
                </ul>
            </div>

            <div class="page-footer__col page-footer__contacts">
                <div class="page-footer__social-links">
                    <a href="https://vk.com/rustepik" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="VKontakte" src="https://cdn.stepik.net/static/frontend/footer-vk.svg?1720098406">
                    </a>
                    <a href="https://t.me/stepik_courses" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Telegram" src="https://cdn.stepik.net/static/frontend/footer-tg.svg?1720098406">
                    </a>
                    <a href="https://instagram.com/stepik.education/" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Instagram"
                             src="https://cdn.stepik.net/static/frontend/footer-instagram.svg?1720098406">
                    </a>
                    <a href="https://discord.gg/sT9jhyWAjJ" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Discord" src="https://cdn.stepik.net/static/frontend/footer-discord.svg?1720098406">
                    </a>
                </div>

                <div class="page-footer__email">
                    <a href="mailto:help@stepik.org" rel="noopener noreferrer" target="_blank">
                        help@stepik.org
                    </a>
                </div>
            </div>
        </div>

        <div class="page-footer__row page-footer__row_order_second">
            <div class="page-footer__col page-footer__apps">
                <a class="page-footer__mobapp-link" target="_blank" rel="noopener noreferrer"
                   href="https://redirect.appmetrica.yandex.com/serve/168884546916387946">
                    <img alt="Get it on Apple Store"
                         src="https://cdn.stepik.net/static/frontend/app-store-badge-ru.svg?1720098406">
                </a>
                <a class="page-footer__mobapp-link" target="_blank" rel="noopener noreferrer"
                   href="https://redirect.appmetrica.yandex.com/serve/312999733398396995">
                    <img alt="Get it on Google Play"
                         src="https://cdn.stepik.net/static/frontend/google-play-ru.svg?1720098406">
                </a>
                <a class="page-footer__mobapp-link" target="_blank" rel="noopener noreferrer"
                   href="https://redirect.appmetrica.yandex.com/serve/1109271696193400372">
                    <img alt="Get it on RuStore" src="https://cdn.stepik.net/static/frontend/rustore-ru.svg?1720098406">
                </a>
            </div>

            <div class="page-footer__col page-footer__CC-note">
                Public user contributions licensed under <a target="_blank" rel="noopener noreferrer"
                                                            href="https://creativecommons.org/licenses/by-sa/4.0/">CC
                BY-SA 4.0</a> license with attribution required
            </div>

            <a class="page-footer__col" href="https://sk.ru" target="_blank" rel="noopener noreferrer">
                <img src="https://cdn.stepik.net/static/frontend/skolkovo_resident_ru.svg?1720098406"
                     alt="Skolkovo resident" height="40" width="56">
            </a>
        </div>

        <div class="page-footer__build-info" aria-hidden="true" title="Build info:
- tag 365.0.930
- date Thu, 04 Jul 2024 13:06:46 GMT
- package 0.0.0+04352891">
            365.0.930
        </div>
    </div>

    <span class="page-footer__ab-group" aria-hidden="true">
<!----><!----></span>
</footer>