<footer class="page-footer page-footer-modern ember-view page_footer">
    <div class="page-footer__container">
        <div class="page-footer__row">
            <div class="page-footer__col page-footer__terms">
                <div class="page-footer__years">
                    © 2024. YOUR NOTEBOOK
                </div>
                <a href="" target="_blank" rel="noopener noreferrer">User Agreement</a>
                <br> <a href="" target="_blank"
                                          rel="noopener noreferrer">Privacy Policy</a>


            </div>



            <div class="page-footer__col page-footer__contacts">
                <div class="page-footer__social-links">
                    <a href="" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="VKontakte" src="https://cdn.stepik.net/static/frontend/footer-vk.svg?1720098406">
                    </a>
                    <a href="" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Telegram" src="https://cdn.stepik.net/static/frontend/footer-tg.svg?1720098406">
                    </a>
                    <a href="" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Instagram"
                             src="https://cdn.stepik.net/static/frontend/footer-instagram.svg?1720098406">
                    </a>
                    <a href="" target="_blank" rel="noopener noreferrer"
                       class="page-footer__social-link">
                        <img alt="Discord" src="https://cdn.stepik.net/static/frontend/footer-discord.svg?1720098406">
                    </a>
                </div>

                <div class="page-footer__email">
                    <a href="mailto:danya.takchenko.1997@gmail.com" rel="noopener noreferrer" target="_blank">
                        danya.takchenko.1997@gmail.com
                    </a>
                </div>
            </div>
        </div>


        <div class="page-footer__build-info" aria-hidden="true" title="Build info:
            - tag 365.0.930
            - date Thu, 04 Jul 2024 13:06:46 GMT
            - package 0.0.0+04352891">
            365.0.930
        </div>
    </div>

    <span class="page-footer__ab-group" aria-hidden="true">
<!----><!----></span>
</footer>